.articles {
    background: #f5f6f9;
}

.article-text {
    color: #797979;
}

.card-img-top {
    background: #e0e0e0;
    height: 200px;
}

.channels {
    background: linear-gradient(45deg, #cecece, #30364d);
}

.channels-flex {
    flex-direction: column;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .channels-flex {
        flex-direction: row;
    }
}